Repository LN-Zap/zap-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint-fix-base, npm run lint-styles-fix-base

fix(husky hooks): drop opt --in from husky hooks
  .huskyrc
Due: none

enhance(mainnet conf): add an lnd.conf entry for bitcoin.mainnet
  resources/lnd.conf
Due: none

fix(channel-list): change the logic to look at the currentChannels
  app/components/Contacts/Network.js
Due: npm run lint-fix-base

fix(onboarding-pass-validation): fixed prettier issue
  app/containers/Root.js
Due: npm run lint-fix-base

fix(onboarding-pass-validation): fixed prettier issue2
  app/components/Onboarding/NewWalletPassword.js
Due: npm run lint-fix-base

fix(margin): fix using margin-bottom instead of margin
  app/components/Contacts/SubmitChannelForm.scss
Due: npm run lint-styles-fix-base

fix(submit-channel): reduce font size
  app/components/Contacts/SubmitChannelForm.scss
Due: npm run lint-styles-fix-base

fix(waiting_close_channels): account for waiting_close_channels
  app/components/Contacts/Network.js
  app/reducers/channels.js
Due: npm run lint-fix-base

fix(channel-details): use currencyName
  app/components/Contacts/Network.js
Due: npm run lint-fix-base

perf(boot): add logging to show boot time
  app/main.dev.js
Due: npm run lint-fix-base

fix(grpc): handle gRPC startup issues
  app/lnd/index.js
  app/main.dev.js
Due: npm run lint-fix-base

fix(devtools): patch webrequest to fix devtools
  app/main.dev.js
Due: npm run lint-fix-base

chore(dependencies): remove unused dependencies
  package.json
  yarn.lock
Due: npm run lint-fix-base

style(husky hooks): drop opt --in from husky hooks
  .gitignore
  .huskyrc
  CONTRIBUTING.md
  package.json
  yarn.lock
Due: npm run lint-fix-base

feat(retype-seed): select 3 random seed indexes for the user to enter
  app/components/Onboarding/Onboarding.js
  app/components/Onboarding/ReEnterSeed.js
  app/components/Onboarding/ReEnterSeed.scss
  app/components/Onboarding/RecoverForm.js
  app/containers/Root.js
  app/reducers/onboarding.js
Due: npm run lint-fix-base, npm run lint-styles-fix-base

fix(seed checker): don't fail if the user provides more seed words than required
  app/reducers/onboarding.js
Due: npm run lint-fix-base

perf(bundle-size): remove lodash dependency
  app/components/Contacts/ContactModal.js
  app/components/Contacts/Network.js
  app/components/Form/Pay.js
  app/lnd/methods/channelController.js
  app/reducers/channels.js
  app/reducers/contactsform.js
  app/reducers/payform.js
  app/routes/activity/components/components/Payment/Payment.js
  package.json
Due: npm run lint-fix-base

build(scripts): update concurrently to v3.6.0
  package.json
  yarn.lock
Due: npm run lint-fix-base

fix(electron): update electron to v2.0.3
  package.json
  yarn.lock
Due: npm run lint-fix-base

fix(electron): update-builder electron to v20.16.4
  package.json
  yarn.lock
Due: npm run lint-fix-base

build(scripts): add missing rimraf dependency
  package.json
Due: npm run lint-fix-base

fix(devtools): fix devtools startup error messages
  app/main.dev.js
  app/menu.js
Due: npm run lint-fix-base

fix(onboarding-pass-validation): add 8 char inline validation
  app/components/Onboarding/NewWalletPassword.js
  app/components/Onboarding/Onboarding.js
  app/containers/Root.js
  app/reducers/onboarding.js
Due: npm run lint-fix-base

ci: enable electron security checks
  .travis.yml
  appveyor.yml
Due: none

fix(onboarding-pass-validation): improve password validation
  app/components/Onboarding/NewWalletPassword.js
  app/components/Onboarding/NewWalletPassword.scss
  app/components/Onboarding/Onboarding.js
  app/containers/Root.js
  app/reducers/onboarding.js
Due: npm run lint-fix-base, npm run lint-styles-fix-base

fix(channels): correct property for waiting_close_channels object
  app/components/Contacts/Network.js
Due: npm run lint-fix-base

fix(onboarding-pass-validation): added password validation (#424)
  app/components/Onboarding/NewWalletPassword.js
  app/components/Onboarding/NewWalletPassword.scss
  app/components/Onboarding/Onboarding.js
  app/containers/Root.js
  app/reducers/onboarding.js
Due: npm run lint-fix-base, npm run lint-styles-fix-base

refactor: modularize and simplify app startup code
  app/lnd/index.js
  app/lnd/lib/neutrino.js
  app/lnd/lib/util.js
  app/main.dev.js
  app/reducers/lnd.js
  app/zap.js
Due: npm run lint-fix-base

fix(onboarding-empty-pass): add empty password validation
  app/components/Onboarding/Onboarding.js
Due: npm run lint-fix-base

fix(onboarding-password-bug): add more password validation
  app/components/Onboarding/Onboarding.js
  app/reducers/onboarding.js
Due: npm run lint-fix-base

fix(grpc): update grpc to v1.12.4
  app/package.json
  app/yarn.lock
Due: npm run lint-fix-base

refactor: remove unused images
  internals/img/eslint-padded-90.png
  internals/img/eslint-padded.png
  internals/img/eslint.png
  internals/img/flow-padded-90.png
  internals/img/flow-padded.png
  internals/img/flow.png
  internals/img/jest-padded-90.png
  internals/img/jest-padded.png
  internals/img/jest.png
  internals/img/js-padded.png
  internals/img/js.png
  internals/img/npm.png
  internals/img/react-padded-90.png
  internals/img/react-padded.png
  internals/img/react-router-padded-90.png
  internals/img/react-router-padded.png
  internals/img/react-router.png
  internals/img/react.png
  internals/img/redux-padded-90.png
  internals/img/redux-padded.png
  internals/img/redux.png
  internals/img/webpack-padded-90.png
  internals/img/webpack-padded.png
  internals/img/webpack.png
  internals/img/yarn-padded-90.png
  internals/img/yarn-padded.png
  internals/img/yarn.png
Due: none

Adding Windows 10 info
  ADVANCED.md
Due: npm run lint-fix-base

Need to build before tests will run
  ADVANCED.md
Due: npm run lint-fix-base

Lowercase anchor link
  ADVANCED.md
Due: npm run lint-fix-base

Lowercase anchor links
  ADVANCED.md
Due: npm run lint-fix-base

Path conditions:
  npm run lint-fix-base: any of: *.{js,json,md}
  npm run lint-styles-fix-base: any of: *.scss
