Repository LN-Zap/zap-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint-fix-base, npm run lint-styles-fix-base

fix(grpc): ensure full disconnect on window close
  app/lib/lnd/lightning.js
  app/lib/lnd/subscribe/channelgraph.js
  app/lib/lnd/subscribe/invoices.js
  app/lib/lnd/subscribe/transactions.js
Due: npm run lint-fix-base

fix(app): simplify app quit process
  app/lib/zap/controller.js
  app/main.dev.js
Due: npm run lint-fix-base

fix(lnd-detection): Lookup lnd using explicit output specifiers
  app/lib/lnd/util.js
Due: npm run lint-fix-base

chore(lnd): update lnd.conf file
  resources/lnd.conf
Due: none

fix(lnd): disable lnd REST interface on port 8080
  resources/lnd.conf
Due: none

feat(lnd): show error message if lnd exits
  app/lib/lnd/neutrino.js
  app/lib/zap/controller.js
  test/unit/lnd/neutrino.spec.js
Due: npm run lint-fix-base

bug(invoice-amt-paid): invoice decorator for amt_paid
  app/components/Activity/InvoiceModal.js
  app/reducers/invoice.js
  app/routes/activity/components/components/Invoice/Invoice.js
Due: npm run lint-fix-base

fix(lnd): prevent full chain sync on wallet init
  app/components/Onboarding/Onboarding.js
  app/containers/Root.js
  app/lib/lnd/methods/walletController.js
  app/reducers/onboarding.js
Due: npm run lint-fix-base

fix(lnd): only connect to single btcd host
  app/lib/lnd/neutrino.js
Due: npm run lint-fix-base

fix(lnd): don't treat filters as filter headers
  app/lib/lnd/neutrino.js
Due: npm run lint-fix-base

chore(flow): add flowtype to Lightning class
  app/lib/lnd/lightning.js
Due: npm run lint-fix-base

test(unit): add some basic tests for Lightning class
  app/lib/lnd/lightning.js
  test/unit/lnd/lightning.spec.js
Due: npm run lint-fix-base

test(electron): simplify electron mocks
  app/lib/lnd/config.js
  app/lib/lnd/util.js
  test/e2e/e2e.spec.js
  test/unit/__mocks__/electron.js
  test/unit/lnd/lnd-config.spec.js
  test/unit/lnd/neutrino.spec.js
Due: npm run lint-fix-base

fix(ux): show loading bolt while seed is generated
  app/reducers/onboarding.js
Due: npm run lint-fix-base

fix(lnd): update lnd to v0.4.2-beta-752-g6c903393
  package.json
  resources/rpc.proto
Due: npm run lint-fix-base

fix(logging): log incoming channel updates
  app/lib/lnd/subscribe/channelgraph.js
Due: npm run lint-fix-base

fix(wallet): fetch balance after new transaction
  app/reducers/transaction.js
Due: npm run lint-fix-base

fix(wallet): fetch channels after new transaction
  app/reducers/transaction.js
Due: npm run lint-fix-base

test(reducers): add transaction reducer tests
  test/unit/reducers/__snapshots__/transaction.spec.js.snap
  test/unit/reducers/transaction.spec.js
Due: npm run lint-fix-base

fix(invoice-amt-paid): settled invoices show amt_paid
  app/components/Activity/InvoiceModal.js
  app/lib/utils/btc.js
  app/reducers/invoice.js
  app/routes/activity/components/components/Invoice/Invoice.js
Due: npm run lint-fix-base

fix(ui): increase line-height in seed reentry form
  app/components/Onboarding/ReEnterSeed.scss
  app/components/Onboarding/RecoverForm.scss
Due: npm run lint-styles-fix-base

feat(autopilot): enable private and minconfs=0
  resources/lnd.conf
Due: none

build(flow): include node_modules in flow config
  .flowconfig
Due: none

test(jest): add --detectOpenHandles switch
  package.json
Due: npm run lint-fix-base

chore(deps): update jest to v23.5.0
  package.json
  yarn.lock
Due: npm run lint-fix-base

fix(wallet): ensure clean state after refresh
  app/lib/zap/controller.js
Due: npm run lint-fix-base

fix(channels): neutrino clients manual channels flagged private
  app/lib/lnd/methods/channelController.js
  app/reducers/channels.js
  test/unit/reducers/channels.spec.js
Due: npm run lint-fix-base

feat(ui): integrate AmountInput into wallet UI
  app/components/Contacts/SubmitChannelForm.js
  app/components/Form/Pay.js
  app/components/Form/Request.js
  app/routes/app/containers/AppContainer.js
  test/unit/components/Form.spec.js
  test/unit/components/Form/Pay.spec.js
  test/unit/components/Form/Request.spec.js
Due: npm run lint-fix-base

feat(components): add new AmountInput component
  app/components/AmountInput/AmountInput.js
  app/components/AmountInput/AmountInput.scss
  app/components/AmountInput/index.js
  test/unit/components/AmountInput.spec.js
Due: npm run lint-fix-base, npm run lint-styles-fix-base

fix(lnd): ensure graceful shutdown
  app/lib/lnd/lightning.js
  app/lib/zap/controller.js
Due: npm run lint-fix-base

fix(ui): ensure content size same across platforms
  app/main.dev.js
Due: npm run lint-fix-base

fix(network): ensure accurate btc balance
  app/components/Contacts/Network.js
Due: npm run lint-fix-base

feat(errors): create a util for making error messages more user-friendly
  app/components/GlobalError/GlobalError.js
  app/components/GlobalError/GlobalError.scss
  app/lib/utils/userFriendlyErrors.js
  test/unit/utils/userFriendlyErrors.spec.js
Due: npm run lint-fix-base, npm run lint-styles-fix-base

fix(network): ensure alias for closing channels
  app/components/Contacts/Network.js
Due: npm run lint-fix-base

Revert "fix(lnd): ensure graceful shutdown"
  app/lib/lnd/lightning.js
  app/lib/zap/controller.js
Due: npm run lint-fix-base

feat(lnd): update lnd to v0.4.2-beta-913-g26f68da5
  app/lib/lnd/config.js
  app/lib/lnd/neutrino.js
  package.json
  resources/rpc.proto
  test/unit/lnd/lnd-config.spec.js
Due: npm run lint-fix-base

feat(settings): implement settings component
  app/components/Settings/Fiat.js
  app/components/Settings/Fiat.scss
  app/components/Settings/Menu.js
  app/components/Settings/Menu.scss
  app/components/Settings/Settings.js
  app/components/Settings/Settings.scss
  app/components/Wallet/Wallet.js
  app/components/Wallet/Wallet.scss
  app/reducers/index.js
  app/reducers/settings.js
  app/routes/activity/containers/ActivityContainer.js
Due: npm run lint-fix-base, npm run lint-styles-fix-base

feat(fiat): convert to bci api
  app/components/Activity/InvoiceModal.js
  app/components/Activity/PaymentModal.js
  app/components/Activity/TransactionModal.js
  app/components/Contacts/Network.js
  app/components/Settings/Fiat.js
  app/components/Settings/Fiat.scss
  app/components/Value/Value.js
  app/components/Wallet/Wallet.js
  app/icons/check.svg
  app/lib/utils/api.js
  app/reducers/balance.js
  app/reducers/ticker.js
  app/routes/activity/components/components/Invoice/Invoice.js
  app/routes/activity/components/components/Payment/Payment.js
  app/routes/activity/components/components/Transaction/Transaction.js
  app/routes/activity/containers/ActivityContainer.js
  webpack.config.renderer.dev.js
Due: npm run lint-fix-base, npm run lint-styles-fix-base

feat(fiat): persist fiatTicker
  app/components/Contacts/Network.js
  app/components/Settings/Fiat.js
  app/components/Settings/Menu.js
  app/lib/utils/btc.js
  app/reducers/balance.js
  app/reducers/ticker.js
  webpack.config.renderer.dev.js
  webpack.config.renderer.prod.js
Due: npm run lint-fix-base

feat(settings): close on blur click
  app/components/Contacts/Network.js
  app/components/Contacts/SubmitChannelForm.js
  app/components/Contacts/SubmitChannelForm.scss
  app/components/Form/Pay.js
  app/components/Form/Pay.scss
  app/components/Form/Request.js
  app/components/Form/Request.scss
  app/components/Settings/Fiat.js
  app/components/Settings/Fiat.scss
  app/components/Settings/Settings.js
  app/components/Wallet/Wallet.js
  app/lib/utils/btc.js
  app/reducers/contactsform.js
  app/reducers/payform.js
  app/reducers/requestform.js
  app/reducers/ticker.js
  app/routes/activity/components/components/Invoice/Invoice.js
  app/routes/activity/components/components/Payment/Payment.js
  app/routes/activity/components/components/Transaction/Transaction.js
  app/routes/app/containers/AppContainer.js
  test/unit/components/Form.spec.js
  test/unit/components/Form/Request.spec.js
  test/unit/reducers/__snapshots__/settings.spec.js.snap
  test/unit/reducers/__snapshots__/ticker.spec.js.snap
  test/unit/reducers/invoice.spec.js
  test/unit/reducers/payment.spec.js
  test/unit/reducers/settings.spec.js
  test/unit/reducers/ticker.spec.js
Due: npm run lint-fix-base, npm run lint-styles-fix-base

Path conditions:
  npm run lint-fix-base: any of: *.{js,json,md}
  npm run lint-styles-fix-base: any of: *.scss
