Repository LN-Zap/zap-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint-fix-base, npm run lint-styles-fix-base

Remove parentheses from anchor link
  ADVANCED.md
Due: npm run lint-fix-base

feat(grpc): lnd connection error recovery
  app/components/Onboarding/ConnectionDetails.js
  app/components/Onboarding/ConnectionDetails.scss
  app/components/Onboarding/Onboarding.js
  app/containers/Root.js
  app/lnd/config/index.js
  app/lnd/index.js
  app/lnd/lib/lightning.js
  app/lnd/lib/neutrino.js
  app/lnd/lib/util.js
  app/lnd/lib/walletUnlocker.js
  app/reducers/ipc.js
  app/reducers/onboarding.js
  app/zap.js
  package.json
  yarn.lock
Due: npm run lint-fix-base, npm run lint-styles-fix-base

Fix anchor links in docs (#516)
  ADVANCED.md
Due: npm run lint-fix-base

style: ensure component stylesheets lint
  package.json
Due: npm run lint-fix-base

style: run all stylesheets through stylelint
  app/components/Activity/ActivityModal.scss
  app/components/Activity/Countdown.scss
  app/components/Activity/InvoiceModal.scss
  app/components/Activity/PaymentModal.scss
  app/components/Activity/TransactionModal.scss
  app/components/Contacts/AddChannel.scss
  app/components/Contacts/ChannelForm.scss
  app/components/Contacts/ConnectManually.scss
  app/components/Contacts/ContactModal.scss
  app/components/Contacts/ContactsForm.scss
  app/components/Contacts/Network.scss
  app/components/Form/Form.scss
  app/components/Form/Pay.scss
  app/components/Form/Request.scss
  app/components/Onboarding/Alias.scss
  app/components/Onboarding/FormContainer.scss
  app/components/Onboarding/InitWallet.scss
  app/components/Onboarding/Login.scss
  app/components/Onboarding/NewWalletSeed.scss
  app/components/Onboarding/Signup.scss
  app/components/Wallet/ReceiveModal.scss
  app/components/Wallet/Wallet.scss
Due: npm run lint-styles-fix-base

style: fix scss no-duplicate-selectors rule
  app/components/Activity/PaymentModal.scss
  app/components/Contacts/ConnectManually.scss
  app/components/Contacts/ContactModal.scss
  app/components/Contacts/ContactsForm.scss
Due: npm run lint-styles-fix-base

style: disable no-descending-specificity stylelint rule
  .stylelintrc
Due: none

style: run all stylesheets through prettier
  app/components/Activity/ActivityModal.scss
  app/components/Activity/InvoiceModal.scss
  app/components/Activity/PaymentModal.scss
  app/components/Activity/TransactionModal.scss
  app/components/Contacts/ConnectManually.scss
  app/components/Contacts/ContactModal.scss
  app/components/Contacts/ContactsForm.scss
  app/components/Contacts/Network.scss
  app/components/Form/Pay.scss
  app/components/Form/Request.scss
  app/components/Onboarding/Alias.scss
  app/components/Onboarding/FormContainer.scss
  app/components/Onboarding/InitWallet.scss
  app/components/Onboarding/Login.scss
  app/components/Onboarding/NewAezeedPassword.scss
  app/components/Onboarding/RecoverForm.scss
  app/components/Onboarding/Signup.scss
  app/components/Wallet/ReceiveModal.scss
  app/components/Wallet/Wallet.scss
Due: npm run lint-styles-fix-base

style: install stylelint-formatter-pretty
  package.json
  yarn.lock
Due: npm run lint-fix-base

style: disable no-empty-source stylelint rune
  .stylelintrc
Due: none

style: remove redundant font declarations
  app/components/Contacts/ConnectManually.scss
  app/components/Contacts/SubmitChannelForm.scss
  app/components/Form/Pay.scss
  app/components/Form/Request.scss
  app/components/Onboarding/NewWalletSeed.scss
  app/components/Onboarding/RecoverForm.scss
  app/components/Onboarding/Syncing.scss
  app/components/Wallet/ReceiveModal.scss
  app/routes/activity/components/components/Activity.scss
Due: npm run lint-styles-fix-base

fix: ensure onboarding completes after syncing
  app/zap.js
Due: npm run lint-fix-base

refactor: define stylesheet paths in npm config
  package.json
Due: npm run lint-fix-base

fix(logging): reduce default log level to info
  app/utils/log.js
Due: npm run lint-fix-base

feat(logging): add more logging for lnd service
  app/lnd/methods/index.js
  app/lnd/walletUnlockerMethods/index.js
Due: npm run lint-fix-base

chore(deps): update eslint tools to latest version
  package.json
  yarn.lock
Due: npm run lint-fix-base

style(lint): fix issues from rule react/destructuring-assignment
  app/components/Activity/Countdown.js
  app/components/Contacts/Network.js
  app/components/GlobalError/GlobalError.js
  app/components/Onboarding/ReEnterSeed.js
  app/components/Wallet/ReceiveModal.js
Due: npm run lint-fix-base

chore(deps): update electron to latest versions
  package.json
  yarn.lock
Due: npm run lint-fix-base

feat(api): redundant block explorer api backends
  app/api/index.js
  app/reducers/lnd.js
  webpack.config.renderer.dev.js
  webpack.config.renderer.prod.js
Due: npm run lint-fix-base

feat: determine block sync progress early
  app/components/Onboarding/Syncing.js
  app/lnd/lib/neutrino.js
  app/reducers/ipc.js
  app/reducers/lnd.js
  app/zap.js
Due: npm run lint-fix-base

feat(sync): show lnd block sync progress
  app/components/Onboarding/Syncing.js
  app/components/Onboarding/Syncing.scss
  app/containers/Root.js
  app/lnd/lib/neutrino.js
  app/reducers/ipc.js
  app/reducers/lnd.js
  app/zap.js
Due: npm run lint-fix-base, npm run lint-styles-fix-base

feat(wallet): remember last wallet address
  app/components/Onboarding/Syncing.js
  app/components/Wallet/ReceiveModal.js
  app/containers/Root.js
  app/lnd/methods/index.js
  app/reducers/address.js
  app/reducers/info.js
  app/reducers/lnd.js
  app/reducers/transaction.js
  app/routes/activity/containers/ActivityContainer.js
  app/routes/app/components/App.js
  app/routes/app/containers/AppContainer.js
  test/reducers/__snapshots__/info.spec.js.snap
Due: npm run lint-fix-base

fix(wallet-type): ensure a user selects a wallet type
  app/components/Onboarding/Onboarding.js
Due: npm run lint-fix-base

fix(receive-tx): dont show sent for received tx
  app/components/Activity/TransactionModal.js
Due: npm run lint-fix-base

fix(neutrino): improve log matching
  app/lnd/lib/neutrino.js
Due: npm run lint-fix-base

fix: improve lnd log line matching
  .eslintrc
  app/lnd/lib/neutrino.js
Due: npm run lint-fix-base

build(webpack): update to webpack-command
  package.json
  yarn.lock
Due: npm run lint-fix-base

build(webpack): update to webpack-serve
  package.json
  webpack.config.renderer.dev.js
  yarn.lock
Due: npm run lint-fix-base

fix: fetch block height from remote sources
  app/api/index.js
  app/components/Onboarding/Syncing.js
  app/containers/Root.js
  app/lnd/lib/neutrino.js
  app/lnd/lib/util.js
  app/reducers/ipc.js
  app/reducers/lnd.js
  app/routes/app/containers/AppContainer.js
  app/zap.js
  package.json
  webpack.config.renderer.dev.js
  webpack.config.renderer.prod.js
  yarn.lock
Due: npm run lint-fix-base

feat(sync): handle btcd node still syncing
  app/components/Onboarding/Syncing.js
  app/components/Onboarding/Syncing.scss
  app/containers/Root.js
  app/lnd/lib/neutrino.js
  app/reducers/ipc.js
  app/reducers/lnd.js
  app/zap.js
Due: npm run lint-fix-base, npm run lint-styles-fix-base

fix: show channel filter with empty active filter
  app/components/Contacts/Network.js
Due: npm run lint-fix-base

fix: lnd log levels
  app/lnd/methods/index.js
Due: npm run lint-fix-base

fix(receive-tx): don't show sent for received tx
  app/components/Activity/TransactionModal.js
Due: npm run lint-fix-base

fix(onboarding): set default values for onboarding
  app/reducers/onboarding.js
Due: npm run lint-fix-base

refactor: add received prop to transaction
  app/components/Activity/TransactionModal.js
  app/reducers/activity.js
  app/reducers/transaction.js
  app/routes/activity/components/components/Transaction/Transaction.js
Due: npm run lint-fix-base

style(syncing): update syncing address style
  app/components/Onboarding/Syncing.js
  app/components/Onboarding/Syncing.scss
Due: npm run lint-fix-base, npm run lint-styles-fix-base

test(coverage): generate code coverage reports
  .gitignore
  package.json
  yarn.lock
Due: npm run lint-fix-base

docs(status-badges): add code coverage badge
  README.md
Due: npm run lint-fix-base

Path conditions:
  npm run lint-fix-base: any of: *.{js,json,md}
  npm run lint-styles-fix-base: any of: *.scss
