Repository LN-Zap/zap-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint-fix-base, npm run lint-styles-fix-base

.lintstagedrc:

{
  "linters": {
    "*.{js,json,md}": ["npm run lint-fix-base", "git add"],
    "*.scss": ["npm run lint-styles-fix-base", "git add"]
  }
}

feat(i18n): crowin integration
  crowdin.yml
Due: none

chore(deps): update react-intl to v2.6.0
  package.json
  yarn.lock
Due: npm run lint-fix-base

feat(i18n): use custom Chinese language names
  app/lib/utils/i18n.js
Due: npm run lint-fix-base

feat(i18n): use local currency display rules
  .eslintrc
  app/components/Activity/Invoice/Invoice.js
  app/components/Activity/Payment/Payment.js
  app/components/Activity/Transaction/Transaction.js
  app/components/Contacts/Network/Network.js
  app/components/Contacts/SubmitChannelForm/SubmitChannelForm.js
  app/components/Form/Pay/Pay.js
  app/components/Form/Request/Request.js
  app/components/Wallet/Wallet.js
  test/unit/components/Form/Pay.spec.js
  test/unit/components/Form/Request.spec.js
Due: npm run lint-fix-base

New Crowdin translations (#787)
  app/translations/ar-SA.json
  app/translations/bg-BG.json
  app/translations/cs-CZ.json
  app/translations/da-DK.json
  app/translations/de-DE.json
  app/translations/el-GR.json
  app/translations/es-ES.json
  app/translations/fr-FR.json
  app/translations/ga-IE.json
  app/translations/he-IL.json
  app/translations/hi-IN.json
  app/translations/hr-HR.json
  app/translations/it-IT.json
  app/translations/ja-JP.json
  app/translations/nl-NL.json
  app/translations/pl-PL.json
  app/translations/pt-BR.json
  app/translations/pt-PT.json
  app/translations/ro-RO.json
  app/translations/ru-RU.json
  app/translations/sv-SE.json
  app/translations/tr-TR.json
  app/translations/uk-UA.json
  app/translations/zh-CN.json
  app/translations/zh-TW.json
Due: npm run lint-fix-base

feat(i18n): enable Irish language
  app/lib/utils/i18n.js
Due: npm run lint-fix-base

test(timeout): use jest.setTimeout to set timeout
  test/e2e/e2e.spec.js
  test/unit/__helpers__/intl-enzyme-test-helper.js
  test/unit/components/Form/Pay.spec.js
  test/unit/components/Form/Request.spec.js
  test/unit/components/LoadingBolt.spec.js
Due: npm run lint-fix-base

Revert "Revert "Merge pull request #788 from mrfelton/ci/release-per-platform""
  .travis.yml
  appveyor.yml
Due: none

ci(release): correct linux release target
  .travis.yml
Due: none

test(unit): fix failing test case
  test/unit/components/LoadingBolt.spec.js
Due: npm run lint-fix-base

fix(i18n): parse fiat amounts to number type
  app/lib/utils/btc.js
Due: npm run lint-fix-base

chore(fs): remove unused util code
  app/lib/utils/index.js
  app/lib/utils/usd.js
  test/unit/utils/usd.spec.js
Due: npm run lint-fix-base

fix(wallet): hide zero channel balance
  app/components/Contacts/Network/Network.js
Due: npm run lint-fix-base

feat(lnd): update lnd to v0.5-beta-21-g25145acc
  package.json
Due: npm run lint-fix-base

fix(channels): use currencyName in req_limit
  app/components/Contacts/Network/Network.js
Due: npm run lint-fix-base

fix(channels): display currencyName in network
  app/components/Contacts/Network/Network.js
Due: npm run lint-fix-base

Revert "Merge pull request #790 from mrfelton/ci/streamline-build-per-env"
  .travis.yml
  appveyor.yml
  package.json
  yarn.lock
Due: npm run lint-fix-base

style(loading): fade out loading bolt
  app/components/LoadingBolt/LoadingBolt.js
  app/components/LoadingBolt/LoadingBolt.scss
  app/containers/Root.js
  app/lib/zap/controller.js
  package.json
  test/unit/zap/controller.spec.js
  yarn.lock
Due: npm run lint-fix-base, npm run lint-styles-fix-base

fix(channels): fetch in activity mount not app
  app/components/Activity/Activity.js
  app/components/App/App.js
  app/containers/Activity.js
Due: npm run lint-fix-base

test(e2e): combine e2e test setup/teardown steps
  test/e2e/e2e.spec.js
Due: npm run lint-fix-base

fix(wallet): fix console error in request form
  app/components/Form/Request/Request.js
Due: npm run lint-fix-base

fix(channels): fetch channels after peer connections
  app/components/Activity/Activity.js
Due: npm run lint-fix-base

fix(onboarding): replace title bar with padding
  app/components/Onboarding/FormContainer/FormContainer.js
  app/components/Onboarding/FormContainer/FormContainer.scss
Due: npm run lint-fix-base, npm run lint-styles-fix-base

fix(wallet): dereference window after closing
  app/lib/zap/controller.js
  app/main.dev.js
Due: npm run lint-fix-base

fix(ui): improve login button style
  app/components/Onboarding/Login/Login.js
  app/components/Onboarding/Login/Login.scss
Due: npm run lint-fix-base, npm run lint-styles-fix-base

style(sync): vertically centre sync page title
  app/components/Onboarding/Syncing/Syncing.js
  app/components/Onboarding/Syncing/Syncing.scss
Due: npm run lint-fix-base, npm run lint-styles-fix-base

style(onboarding): ensure constant button position
  app/components/Onboarding/FormContainer/FormContainer.scss
Due: npm run lint-styles-fix-base

feat(lnd): use free port for lnd
  app/lib/lnd/neutrino.js
  app/lib/zap/controller.js
  package.json
  test/unit/lnd/neutrino.spec.js
  yarn.lock
Due: npm run lint-fix-base

fix(wallet): hide expired toggle for empty wallet
  app/components/Activity/Activity.js
Due: npm run lint-fix-base

fix(ui): ensure draggable titlebar
  app/components/App/App.scss
  app/components/Onboarding/FormContainer/FormContainer.js
  app/components/Onboarding/FormContainer/FormContainer.scss
Due: npm run lint-fix-base, npm run lint-styles-fix-base

fix(loading): fix glitch on loading sequence
  app/components/Activity/Activity.js
  app/components/App/App.js
  app/components/LoadingBolt/LoadingBolt.js
  app/containers/App.js
  app/containers/Root.js
Due: npm run lint-fix-base

fix(ticker): fixes #815
  app/components/Activity/Invoice/Invoice.js
  app/components/Activity/Payment/Payment.js
  app/components/Activity/Transaction/Transaction.js
  app/components/Contacts/Network/Network.js
  app/components/Value/Value.js
  app/components/Wallet/Wallet.js
  app/lib/utils/api.js
  app/reducers/contactsform.js
  app/reducers/payform.js
  app/reducers/requestform.js
  app/reducers/ticker.js
Due: npm run lint-fix-base

feat(icon): new dock icon
  resources/icons/icon.icns
  resources/icons/icon.ico
  resources/icons/icon.png
Due: none

fix(icon): replace png with 256x256
  resources/icons/icon.png
Due: none

fix(utils): dont pass non-whole num to toBitcoin()
  app/lib/utils/btc.js
Due: npm run lint-fix-base

Typo & grammar fix
  app/components/Onboarding/ConnectionType/messages.js
  app/components/Onboarding/messages.js
  app/translations/en.json
Due: npm run lint-fix-base

fix(add-channel): dont remove input text
  app/components/Contacts/SubmitChannelForm/SubmitChannelForm.js
Due: npm run lint-fix-base

fix(ticker): use Coinbase API - fixes #815
  app/components/Activity/Invoice/Invoice.js
  app/components/Activity/Payment/Payment.js
  app/components/Activity/Transaction/Transaction.js
  app/components/Contacts/Network/Network.js
  app/components/Value/Value.js
  app/components/Wallet/Wallet.js
  app/lib/utils/api.js
  app/lib/utils/i18n.js
  app/reducers/contactsform.js
  app/reducers/payform.js
  app/reducers/requestform.js
  app/reducers/ticker.js
  internals/webpack/webpack.config.renderer.dev.js
  internals/webpack/webpack.config.renderer.prod.js
Due: npm run lint-fix-base

ci(jest): set maxWorkers to 2
  package.json
  test/e2e/e2e.spec.js
Due: npm run lint-fix-base
