Repository LN-Zap/zap-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint-fix-base, npm run lint-styles-fix-base

chore(deps): update electron to latest versions
  package.json
  yarn.lock
Due: npm run lint-fix-base

fix(ui): increase currency selector z-index
  app/components/Form/Pay.scss
  app/components/Form/Request.scss
Due: npm run lint-styles-fix-base

fix(accessibility): don't use white on yellow text
  app/components/Contacts/ConnectManually.scss
  app/components/Contacts/SubmitChannelForm.scss
  app/components/Form/Pay.scss
  app/components/Form/Request.scss
Due: npm run lint-styles-fix-base

update LICENSE link (was dead)
  README.md
Due: npm run lint-fix-base

feat(refresh): ability to refresh activity list
  app/routes/activity/components/Activity.js
  app/routes/activity/components/Activity.scss
Due: npm run lint-fix-base, npm run lint-styles-fix-base

fix(windows): reference webpack-serve js directly
  package.json
Due: npm run lint-fix-base

fix: aezeedPasswordConfirmation propagation
  app/containers/Root.js
Due: npm run lint-fix-base

updated advanced documentation with details about custom lnd
  ADVANCED.md
Due: npm run lint-fix-base

feat(ui): show activity type icon in activity list
  app/routes/activity/components/components/Activity.scss
  app/routes/activity/components/components/Invoice/Invoice.js
  app/routes/activity/components/components/Payment/Payment.js
  app/routes/activity/components/components/Transaction/Transaction.js
Due: npm run lint-fix-base, npm run lint-styles-fix-base

fix(neutrino): update our BTCD node IP
  resources/lnd.conf
Due: none

fix(channel-form): improve copy
  app/components/Contacts/SubmitChannelForm.js
Due: npm run lint-fix-base

refactor: no need for identity select intermediary
  app/reducers/channels.js
Due: npm run lint-fix-base

refactor: avoid repeating a conditional in Network
  app/components/Contacts/Network.js
Due: npm run lint-fix-base

fix: don't show channel suggestions if pending channels exist
  app/components/Contacts/Network.js
Due: npm run lint-fix-base

fix(onboarding): remove seed password
  app/components/Onboarding/NewAezeedPassword.js
  app/components/Onboarding/NewAezeedPassword.scss
  app/components/Onboarding/Onboarding.js
  app/containers/Root.js
  app/lnd/methods/walletController.js
  app/reducers/onboarding.js
Due: npm run lint-fix-base, npm run lint-styles-fix-base

fix(onboarding): default to create new wallet
  app/reducers/onboarding.js
Due: npm run lint-fix-base

fix: ensure conditional display uses boolean
  app/components/Contacts/Network.js
Due: npm run lint-fix-base

fix: ensure received transactions show as such
  app/reducers/transaction.js
Due: npm run lint-fix-base

fix: only notify if we have not seen the transaction before
  app/reducers/transaction.js
Due: npm run lint-fix-base

fix: only generate a new address on new incoming transaction
  app/reducers/transaction.js
Due: npm run lint-fix-base

feat(help): add help link to tutorial
  app/components/Onboarding/FormContainer.js
  app/components/Onboarding/FormContainer.scss
Due: npm run lint-fix-base, npm run lint-styles-fix-base

fix(channels): loading hover state
  app/components/Contacts/Network.js
Due: npm run lint-fix-base

fix(onboarding): improve custom connection help
  app/components/Onboarding/ConnectionDetails.js
  app/components/Onboarding/ConnectionDetails.scss
Due: npm run lint-fix-base, npm run lint-styles-fix-base

fix(help-link): update to gh-pages
  app/components/Onboarding/FormContainer.js
Due: npm run lint-fix-base

feat(btcpayserver): add support for BTCPayServer
  app/components/Onboarding/BtcPayServer.js
  app/components/Onboarding/BtcPayServer.scss
  app/components/Onboarding/ConnectionConfirm.js
  app/components/Onboarding/ConnectionConfirm.scss
  app/components/Onboarding/ConnectionType.js
  app/components/Onboarding/ConnectionType.scss
  app/components/Onboarding/Onboarding.js
  app/containers/Root.js
  app/lnd/config/index.js
  app/lnd/lib/lightning.js
  app/lnd/lib/util.js
  app/package.json
  app/reducers/onboarding.js
  app/yarn.lock
  app/zap.js
Due: npm run lint-fix-base, npm run lint-styles-fix-base

chore(security): tailor GRPC_SSL_CIPHER_SUITES to the connection type
  app/lnd/lib/lightning.js
  app/lnd/lib/walletUnlocker.js
  app/zap.js
Due: npm run lint-fix-base

fix(transaction notification): fix that state access was off the mark
  app/reducers/transaction.js
Due: npm run lint-fix-base

fix(version): bump version
  app/package.json
  package.json
Due: npm run lint-fix-base

fix(version): bump to 0.2.0
  app/package.json
  package.json
Due: npm run lint-fix-base

chore(deps): update electron-builder
  package.json
  yarn.lock
Due: npm run lint-fix-base

build: auto download lnd-binary on install
  app/lnd/config/index.js
  package.json
  yarn.lock
Due: npm run lint-fix-base

build(webpack): clean dist dir before builds
  package.json
  webpack.config.renderer.prod.js
  yarn.lock
Due: npm run lint-fix-base

build: packaging support for multiple arch
  internals/scripts/fetch-lnd-for-packaging.js
  package.json
Due: npm run lint-fix-base

fix(onboarding): improve existing wallet message
  app/components/Onboarding/Onboarding.js
Due: npm run lint-fix-base

fix(onboarding): show existing wallet location
  app/components/Onboarding/Onboarding.js
  app/containers/Root.js
  app/lnd/walletUnlockerMethods/index.js
  app/reducers/onboarding.js
Due: npm run lint-fix-base

docs: update advanced documentation
  ADVANCED.md
Due: npm run lint-fix-base

fix: honour currency when opening channel
  app/reducers/channels.js
Due: npm run lint-fix-base

fix(copy): fix small typo in login copy
  app/components/Onboarding/Onboarding.js
  app/package-lock.json
Due: npm run lint-fix-base

fix(copy): fix small typo re adding funds to network
  app/components/Contacts/SubmitChannelForm.js
Due: npm run lint-fix-base

feat(onboarding): allow login with Enter key press
  app/components/Onboarding/Login.js
Due: npm run lint-fix-base

Path conditions:
  npm run lint-fix-base: any of: *.{js,json,md}
  npm run lint-styles-fix-base: any of: *.scss
